{% extends 'quiz/layout.html' %}

{% block title %}Leader-Board{% endblock %}

{% block main %}
<h1 class="my-5">Leaderboard</h1>
<table class="table table-default">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Score</th>
    </tr>
  </thead>
  <tbody>
    {% if not leaders %}
    <tr>
      <th scope="row">No</th>
      <td>Entries</td>
      <td>Yet!</td>
    </tr>
    {% else %}
    {% for leader in leaders %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ leader.name }}</td>
      <td>{{ leader.score }}</td>
    </tr>
    {% endfor %}
    {% endif %}
</table>
{% endblock %}